.download-app {
	display: flex;
	flex-direction: column;
	background-color: $primary-color;
	padding: 10px;

	.download-title {
		padding: 20px;
		p {
			color: $light-color;
			text-align: center;
		}
	}

	.download-buttons {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;

		.download-button {
			width: 20%;
		}
	}
}

@media screen and (max-width: 690px) {
	.download-app {
		.download-buttons {
			justify-content: center;
			align-items: center;

			.download-button {
				width: 45%;
			}
		}
	}
}
