footer {
	background-color: $primary-color;

	.contact-footer {
		display: flex;
		flex-direction: row;
		color: $light-color;
		padding: 10px;
		justify-content: center;

		.contact-address,
		.contact-social {
			padding: 20px 10px;
			width: 33%;

			h3 {
				text-align: center;

				font-weight: bolder;
				padding-bottom: 25px;
				color: $light-color;
			}

			p,
			a,
			a:visited {
				font-size: 1.6rem;
				text-align: center;
				color: $light-color;
				font-weight: bolder;
			}
			a:hover,
			a:focus,
			a:active {
				color: $tertiary-color;
			}
		}

		.contact-social {
			.social-icons ul {
				justify-content: center;
				li {
					padding: 0px 10px;
				}
			}
			i {
				font-size: 2.8rem;
			}
		}
	}

	.back-to-top {
		padding-bottom: 30px;
		text-align: center;
		a {
			font-size: 1.6rem;
			color: $light-color;
			padding: 10px;
			&:hover {
				color: $tertiary-color;
			}
		}
	}
}

@media screen and (max-width: 690px) {
	footer {
		.contact-footer {
			flex-direction: column;
			align-items: center;

			.contact-address,
			.contact-social {
				width: 100%;
			}
		}
	}
}
