header {
	.hero-section {
		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			margin-bottom: 20px;
		}

		.hero-banner {
			width: 50%;
		}
		.hero-logo {
			width: 15%;
			margin-top: 20px;
		}
		.hero-subtitle {
			width: 60%;
			text-align: center;
		}
		.hero-buttons {
			a {
				font-size: 2.5rem;
				padding: 11px 20px;
			}
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.btn {
				border-radius: 5px;
				border: 3px solid $primary-color;
				margin: 0px 15px;

				a {
					text-transform: lowercase;
				}
			}

			.btnWebsite {
				border: 3px solid $primary-color;
				background-color: $primary-color;

				a {
					color: $light-color;
				}
				&:hover {
					background-color: $primary-color;
					a {
						color: $tertiary-color;
					}
				}
			}

			.btnDownload {
				background-color: $light-color;
				a {
					color: $primary-color;
				}
				&:hover {
					background-color: $tertiary-color;
				}
			}
		}
	}
}
